# etcd volumes
00-prerequsites/etcd1/*

!00-prerequsites/etcd1/.gitkeep

01-cluster/etcd1/*
01-cluster/etcd2/*
01-cluster/etcd3/*

!01-cluster/etcd1/.gitkeep
!01-cluster/etcd2/.gitkeep
!01-cluster/etcd3/.gitkeep

# control panel ca and certs
02-control-panel/certs/*
!02-control-panel/certs/ca.conf

02-control-panel/apiserver/*
02-control-panel/controller-manager/*
02-control-panel/scheduler/*

!02-control-panel/apiserver/.gitkeep
!02-control-panel/controller-manager/.gitkeep
!02-control-panel/scheduler/.gitkeep
